*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  line-height: 1.8;
  color: #333;
  Background-Color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  height: 20rem;
  width: 40rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* padding: 1rem; */
}
/* h2{
  border: 1px solid black;
  max-width: 100rem;
  max-height: 10rem;

} */
#quotBox{
  font-size: clamp(1rem, 1vw, 1rem);
  /* overflow: hidden; */
  text-align: center;
  /* border: 1px solid black; */
  max-width: 90%;
  word-break: break-word;
  min-width: 90%;
  min-height: 50%;

  
}
