* {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica", Arial, sans-serif;
}
body {
  color: rgb(190, 57, 57);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}
.clock {
  font-size: 4rem;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  display: flex;
  gap: 1.5rem;
  text-align: center;
}
#seconds {
  min-width: 5.5rem;
}
