*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    
}   
.container{
    border: 1px solid black;
    height: 30rem;
    width: 30rem;
}
h1{
    /* border: 1px solid black; */
}
#list{
    border: 1px solid black;
    height: 80%
}